<div class="row">
 	<div class="col-md-12">
 		
		<div class="box" 
			ng-controller="{{ MODEL | controller}} as {{ MODEL | controller}}" 
			ng-init="{{ MODEL | controller }}.form()">

			<div class="box-header with-border">

				<h3 class="box-title">{{'{{'}} {{ MODEL | controller }}.mode | capitalize }} {{ MODEL | replace("_", " ") }}</h3>
				
				<div class="box-tools" 
					action-buttons-resource 
					bind-controller="{{ MODEL | controller }}"></div>

			</div><!-- /.box-header -->
			
			<!-- form start -->
			<form novalidate role="form">
				
				<div class="box-body">
					{% for FIELD in CONFIG[MODEL]['structure'] %}
					
						{% if 'create' in CONFIG[MODEL]['structure'][FIELD]["mode"] or 'edit' in CONFIG[MODEL]['structure'][FIELD]["mode"] %}
							{% if 'create' in CONFIG[MODEL]['structure'][FIELD]["mode"] and 'edit' in CONFIG[MODEL]['structure'][FIELD]["mode"] %}
					<div class="form-group">
							{% elif  'create' in CONFIG[MODEL]['structure'][FIELD]["mode"] %}
					<div class="form-group" 
						ng-show="{{ MODEL | controller }}.mode == 'create'">
							{% else %}
					<div class="form-group"
						ng-show="{{ MODEL | controller }}.mode == 'edit'" >
							{% endif %}
						
						<label for="{{ CONFIG[MODEL]['structure'][FIELD]['type'] }}-{{ MODEL | css }}-{{ FIELD | css }}">{{ FIELD | replace("_", " ") | title }}</label>
						
						{% include "templates/commons/attr_" + CONFIG[MODEL]['structure'][FIELD]['type'] + ".j2" %}

					
					</div><!-- /.form-group -->
						{% endif %}
					{% endfor %}

					{# note: show relationships is not array #}
					
					{% for RELATIONSHIP_MODEL in MODEL | relationships(False) | models %}
					<div class="form-group" 
						ng-controller="{{ RELATIONSHIP_MODEL | controller }} as {{ RELATIONSHIP_MODEL | controller }}" >
						
						<label for="select-{{ MODEL | css }}-{{ RELATIONSHIP_MODEL | css }}">{{ RELATIONSHIP_MODEL | replace("_", " ") | title }}</label>
						
						<select id="select-{{ MODEL | css }}-{{ RELATIONSHIP_MODEL | css }}" 
								class="form-control" 
								ng-model="{{ MODEL | controller }}.{{ MODEL | camelCase }}.{{ RELATIONSHIP_MODEL | camelCase }}"
								ng-options="{{ RELATIONSHIP_MODEL | camelCase }}.id as {{ RELATIONSHIP_MODEL | camelCase }}.name for {{ RELATIONSHIP_MODEL | camelCase }} in {{ RELATIONSHIP_MODEL | controller }}.{{ RELATIONSHIP_MODEL | plural }} track by {{ RELATIONSHIP_MODEL | camelCase }}.id"></select>
					
					</div><!-- /.form-group -->
					{% endfor%}

					{# note: show relationships is not array #}
					
					{% for RELATIONSHIP_MODEL in MODEL | relationships(true) | models %}
					<div class="form-group" 
						ng-controller="{{ RELATIONSHIP_MODEL | controller }} as {{ RELATIONSHIP_MODEL | controller }}" >
						
						<label for="checkbox-{{ MODEL | css }}-{{ RELATIONSHIP_MODEL | css }}">{{ RELATIONSHIP_MODEL | replace("_", " ") | title }}</label>
						
						<div class="checkbox"
							ng-repeat="{{RELATIONSHIP_MODEL | camelCase }} in {{ RELATIONSHIP_MODEL | controller }}.{{ RELATIONSHIP_MODEL | plural }}">
							
							<label for="checkbox-{{ MODEL | css }}-{{ RELATIONSHIP_MODEL | css }}-{{'{{'}} {{ RELATIONSHIP_MODEL | camelCase }}.id {{'}}'}}">
								
								<input id="checkbox-{{ MODEL | css }}-{{ RELATIONSHIP_MODEL | css }}-{{'{{'}} {{ RELATIONSHIP_MODEL | camelCase }}.id {{'}}'}}" 
									type="checkbox"
									ng-model="{{ MODEL | controller }}.{{ MODEL | camelCase }}.{{ RELATIONSHIP_MODEL | plural }}[{{ RELATIONSHIP_MODEL | camelCase }}.id]">{{'{{'}} {{ RELATIONSHIP_MODEL | camelCase }}.name {{'}}'}}
							
							</label>
						
						</div><!-- /.checkbox -->

					</div><!-- /.form-group -->
					{% endfor%}


					
				</div><!-- /.box-body -->
				
				<div class="box-footer">

					<button class="btn btn-success"
							type="submit"
							ng-click="{{ MODEL | controller }}.store({{ MODEL | controller }}.{{ MODEL }})"
							ng-if="{{ MODEL | controller }}.mode == 'create'">Create</button>
					
					<button class="btn btn-warning"
							type="submit"
							ng-click="{{ MODEL | controller }}.update({{ MODEL | controller }}.{{ MODEL }})"
							ng-if="{{ MODEL | controller }}.mode == 'edit'"   >Edit</button>
				
				</div><!-- /.box-footer -->
			
			</form>
		</div><!-- /.box -->

 	</div><!-- /.col -->
</div><!-- /.row -->