						<input class="form-control" 
							id="text-{{ MODEL | css }}-{{ FIELD | css }}" 
							placeholder="{{ FIELD | replace("_", " ") | title }}" 
							type="text" 
							ng-model="{{ MODEL | controller }}.{{ MODEL }}.{{ FIELD }}">