						<div class="radio">
							<label>
								<input type="radio" ng-model="{{ MODEL | controller }}.{{ MODEL }}.{{ FIELD }}" value="1">
								True
							</label>
							<label>
								<input type="radio" ng-model="{{ MODEL | controller }}.{{ MODEL }}.{{ FIELD }}" value="0">
								False
							</label>
						</div>