						<input class="form-control"
								id="number-{{ MODEL | replace("_", "-") }}-{{ FIELD | replace("_", "-") }}" 
								type="number"  
								placeholder="{{ FIELD | replace("_", " ") | title }}"
								ng-model="{{ MODEL | controller }}.{{ MODEL }}.{{ FIELD }}">